* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
 html{
    height: 100%;
    weidth: 100%
  } 

.portfolio {
    position: relative;
    width: 100%;
    height: 100vh;

    background-color: black;


}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

li {
    display: inline;
    list-style: none;
    margin: 10rem 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(240, 237, 237);
    font-weight: bold;
    flex-wrap: wrap;

}

nav ul li a:hover {
    color: chocolate;
}

.logo {
    height: 70px;
    width: 70px;
    border: 2px solid black;
    flex-wrap: wrap;
    border-radius: 60px;

}

.detail {
    margin-left: 8%;
    width: 100%;
    margin-top: 12%;


}

.detail h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;

}

span {
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;

}

.detail2 {
    color: black;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(224, 239, 11);
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    width: 43%;
}

.detail3 p {
    color: rgb(215, 228, 217);
    line-height: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 46%;



}

.detail3 a {
    background-color: rgb(65, 5, 5);
    padding: 10px 18px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    width: 4%;
    height: 6%;

}

.detail3:hover a {
    color: rgb(24, 25, 26);
    font-weight: bolder;
    transform: scale(1.0rem);
    background-color: antiquewhite;

}

.image {
    width: 100%;
    height: 80%;
    position: relative;
    bottom: 0;
    right: 100px;
}


.img-fluid {
    width: 15%;
    height: 37%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: content-box;
    position: absolute;
    height: 200px;
    width: 200px;
    /* left: 50%; */
    right: 4rem;
    bottom: 4rem;
    /* transform: translate(319px, -89%); */
    /* transition: bottom 1s, left 1s; */
}

/* .shape {
    height: 250px;
    width: 250px;

    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(71px, -130%);
    transition: bottom 1s left 1s;

} */

/* .image:hover .shape {
    bottom: 40px;

} */

/* .suresh:hover  {
    
    right: 45%;
  



} */

.logo:hover {
    height: 100px;
    width: 100px;

}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }

    .portfolio {
        position: relative;
        width: 100%;
        height: 100vh;

        background-color: black;


    }
}

@media(max-width: 750px) {
   
    .image {
        width: 150px;
        height: 150px;
        position: relative;
        bottom: 212px;
        right: -461px;

    }

    .img-fluid {
        width: 136px;
        height: 146px;
    }

    .detail span {
        font-size: 20px;
        /* width: 80%; */
    }

    .detail h1 {
        font-size: 20px;

    }

    .detail2 {
        font-size: 25PX;
        /* width: 35%; */
    }

    .detail3 p {
        font-size: 15px;
        /* width: 35%; */
    }
}

@media(max-width:632px) {
    .image {

        width: 7px;
        height: 0px;
        bottom: 75px;

        /* }
    .detail{
        font-size: 30px;
    }
    .detail2{
        font-size: 15px;
    }
    .detail3{
        font-size: 10PX;
    } */
    }
    .portfolio{
        position: relative;
        width: 100%;
        height: 100vh;
    }
}

@media(max-width:476px){
    .image{
        width:0px ;
        height:0px ;
        bottom: 138px;
        left: 357px;
    }
    .img-fluid {
        width: 109px;
        height: 111px;
}
.portfolio{
    position: relative;
    width: 100%;
    height: 100vh;


}
}
